{% extends 'planning/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-12 h3 mt-5 text-center">
            FoodPlan Dashboard
        </div>
        <div class="col-12 col-md-8 mt-3 text-center">
            <div class="h5">Active Meals</div>
            <div class="h6">Total: </div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Meal</th>
                    <th scope="col">Servings</th>
                    <th scope="col">Expires</th>
                    <th scope="col">Service</th>
                </tr>
                </thead>
                <tbody>
                {% for meal in active_meals %}
                    <tr>
                        <td>
                            <a href="{% url 'meal' meal_id=meal.pk %}">
                                {{ meal.name }}
                            </a>
                        </td>
                        <td>{{ meal.servings }}</td>
                        <td>{{ meal.expiration|date:'m-d-Y' }}</td>
                        <td>{{ meal.service.name }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td class='text-center text-muted small' colspan="4">
                            No Active Meals
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-12 col-md-4 mt-3 text-center">
            <div class="h5">Upcoming Deliveries</div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Meals</th>
                    <th scope="col">Service</th>
                </tr>
                </thead>
                <tbody>
                {% for delivery in deliveries %}
                    <tr>
                        <td>{{ delivery.arrival|date:'m-d-Y' }}</td>
                        <td>{{ delivery.serving_count }}</td>
                        <td>{{ delivery.service.name }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td class='text-center text-muted small' colspan="3">
                            No Future Deliveries
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}