{% extends 'planning/base.html' %}

{% block title %}{{ meal.name }}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-12 h3 mt-5 text-center">
            {{ meal.name }}
        </div>
        <div class="col-12 h5 text-center">
            Servings: {{ meal.servings }}
        </div>
        <div class="col-12 h5 text-center">
            Status: {{ meal.status }}
        </div>
        <div class="col-12 text-center mt-2">
            {% if meal.arrived and not meal.consumed %}
                <a href="{% url 'meal_move_along' meal_id=meal.pk %}" class="btn btn-success">Consume</a>
            {% endif %}
        </div>
        <div class="col-12 col-md-8 offset-md-2 mt-3 text-center">
            <div class="h5">Meal Info</div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Meal</th>
                    <th scope="col">Delivery</th>
                    <th scope="col">Expires</th>
                    <th scope="col">Service</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ meal.name }}</td>
                    <td>{{ meal.delivery.arrival|date:'m-d-Y' }}</td>
                    <td>{{ meal.expiration|date:'m-d-Y' }}</td>
                    <td>{{ meal.service.name }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}